<% include ../partials/header %>

<h1><%= location.name %></h1>


<p><%= location.description %></p>

<div class="container">
	<div class="row">
		<div style="width: 30%; margin: 25px auto;">
			<h4>Add a new sensor</h4>		
			<form action="/config/<%= project._id %>/<%= location._id %>" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="sensor[name]" placeholder="Name of Sensor">
				</div>
				<div class="form-group">
					<button class=btn-primary btn-block">Add sensor</button>
					<a href="/">Go Back</a>
				</div>
			</form>		
			
		</div>

	</div>
</div>

<% location.sensors.forEach(function(sensor){ %>
    <p>
        <a href="/config/<%= project._id %>/<%= location._id %>/<%= sensor._id%>"><strong><%= sensor.name%></strong></a>
    </p>
<% }) %>

<% include ../partials/footer %>