<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div style="width: 30%; margin: 25px auto;">
			<h4>Add a new history</h4>		
			<form action="/config/<%= project._id %>/<%= location._id %>/<%= sensor._id %>" method="POST">
				<div>
					<input type="date" name="his[date]">
                </div>
                <div>
					<input type="number" name="his[value]">
				</div>
				<div class="form-group">
					<button class=btn-primary btn-block">Add history</button>
					<a href="/">Go Back</a>
				</div>
			</form>		
			
		</div>

	</div>
</div>

<% sensor.history.forEach(function(his){ %>
    <p>
		<strong><%= his.date %></strong>: <%= his.value %>
    </p>
<% }) %>

<% include ../partials/footer %>