<% include ../partials/header %>

<div>
	<div>
		<h1>Add a new history</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/config/<%= project._id %>/<%= location._id %>/<%= sensor._id %>" method="POST">
				<div>
					<input type="date" name="his[date]">
                </div>
                <div>
					<input type="number" name="his[value]">
				</div>
				<div class="form-group">
					<button class="btn btn-lrg btn-primary btn-block">Add history</button>
				</div>
			</form>		
			<a href="/">Go Back</a>
		</div>

	</div>
</div>

<% sensor.history.forEach(function(his){ %>
    <p>
		<strong><%= his.date %></strong>: <%= his.value %>
    </p>
<% }) %>

<canvas id="myChart"></canvas>
<!-- Start Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
	console.log(<%= xaxis %>);

	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx,	 {
		type: 'bar',
		data: {
			labels: [<%= xaxis %>],
			datasets: [{
				label: 'Global Average temperature in C°',
				data: [<%= yaxis %>],
				fill: false,
				backgroundColor: 'rgba(0, 0, 255, 0.2)',
				borderColor: 'rgba(0, 0, 255, 1)',
				borderWidth: 1
			}]
		}
	});
</script>



<% include ../partials/footer %>